.sinopsis{
    img{
        width: 100%;
    }
    
.parrafo-sinopsis { /* parrafo sinopsis*/
    text-align: center;
    text-decoration: none;
    
}
}

/* Video Trailer*/

.Presentacion {
    display: block;
    margin: auto;
}

@media only  screen and (min-width:1024px){
.sinopsis{
 img{
        width: 35%;

    }
    .parrafo-sinopsis { /* parrafo sinopsis*/
        text-align: center;
        text-decoration: none;
        
    }
    }
}    
    /* Video Trailer*/
    .trailer {
        iframe {
        width: 50%;
        margin: auto;
        display: flex;
        flex-flow: row wrap;    
        justify-content: space-around;
    }
    }
    
    .Presentacion {
        display: block;
        margin: auto;
    }
